@if (sent()) {
  <p>Added to Google Calendar</p>
}

@if (!loading && !schedule()) {
  <h1>Upload schedule image</h1>

    <div class="upload-box">
        <input type="file" id="fileInput" accept="image/png, image/jpeg" hidden (change)="onFileSelected($event)" />
        <label for="fileInput" class="upload-btn">Choose image</label>

        @if (fileSelected) {
            <div class="submit-btn">
                <div #file class="file-name">{{ fileName }}</div>
                <button class="submit-file" (click)="submit()">
                    <mat-icon>cloud_upload</mat-icon>
                    Scan
                </button>
            </div>
        }
  </div>
}

@if (loading) {
  <mat-spinner></mat-spinner>
}

@if (schedule(); as s) {
  <app-schedule [data]="s" />
}