<div class="schedule-box">
    <p>choose a person's schedule</p>
    <mat-form-field>
        <mat-select (selectionChange)="selectPerson($event.value)">
            @for (p of data().people; track p.row) {
                <mat-option [value]="p">{{ p.name }}</mat-option> 
            }
        </mat-select>
    </mat-form-field>

    @if (selectedPerson()) {
        <label class="week-pick">
            <input #w type="week" [value]="week()" (input)="week.set(w.value)" />
        </label>

        <div class="week-list">
        @for (s of shifts(); track s.day; let i = $index) {
            <div class="day-row">
                <span class="day-label">{{ s.day }}</span>
                <input type="time" [value]="s.start" (input)="updateTime(i, 'start', startEl.value)" #startEl />
                <span>-</span>
                <input type="time" [value]="s.end" (input)="updateTime(i, 'end', endEl.value)" #endEl />
            </div>
        }
        </div>
    
        <div class="google-box">
            <p class="google-text">send to google calendar</p>
            <button class="google-btn" (click)="sendSchedule()">Send</button>
        </div>
    }

    @if(sent()){
        <div class="added">
            <p>Added to Google Calendar</p>
            <mat-icon style="color: rgb(26, 193, 26); padding: 1px 0 0 5px;">check_circle</mat-icon>
        </div>
    }
</div>